body {
    margin: 0;
    background-color: #282827;
}

.dh-main {
    padding: 40px;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
}

.canvas-container {
    width: 35vw;
    max-width: 800px;
    margin: 0;
    aspect-ratio: 1 / 1; 
    position: relative;
}

.game-canvas {
    width: 100%;
    height: auto;
    position: absolute;
}